name: Build Minecraft Mod
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Setup Forge MDK
        run: |
          wget https://maven.minecraftforge.net/net/minecraftforge/forge/1.16.5-36.2.34/forge-1.16.5-36.2.34-mdk.zip
          unzip forge-1.16.5-36.2.34-mdk.zip
          rm src/main/java/com/example/examplemod/ExampleMod.java
      - name: Build with Gradle
        run: chmod +x gradlew && ./gradlew build
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: DupeMod-File
          path: build/libs/*.jar
