name: Build Mod
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Build
        run: |
          wget https://maven.minecraftforge.net/net/minecraftforge/forge/1.16.5-36.2.34/forge-1.16.5-36.2.34-mdk.zip
          unzip forge-1.16.5-36.2.34-mdk.zip
          chmod +x gradlew
          ./gradlew build
      - uses: actions/upload-artifact@v4
        with:
          name: MyMod-Jar
          path: build/libs/*.jar
